.home {
  max-width: 900px;
  margin: 0 auto;
}
.home-section {
    background-color: #161623;
    padding: 1.5rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 179, 255, 0.2);
    margin-top: 1.5rem;
    box-shadow: 0 0 15px rgba(110, 0, 255, 0.15);
    transition: transform 0.2s ease;
}
.home-section:hover {
 transform: translateY(-5px);
 box-shadow: 0 0 20px rgba(0, 179, 255, 0.4);
}
.home h1 {
  color: #00b3ff;
  text-align: center;
  margin-bottom: 2rem;
}

